@CHARSET "ISO-8859-1";

body {
	background-color: #12110f;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	position:relative;
 
}

.left {
	float: left;
}

.right {
	float: right;
}

.contenido{
	/*POSITION: relative; 
	MARGIN: 0px auto;*/
	text-align: center;
	/*padding-top: 20px;*/
}

.SeccionesMenu{
	width: 225px;
	vertical-align: bottom;
	padding-bottom: 49px;
}

.SeccionesContenido{
	width: 675px;
	text-align: center;
	vertical-align: text-top;
	padding-top: 123px;
	
}

.menu{
	vertical-align: bottom;
}

.menuDerecha{
	text-align: right;
	padding-right: 21px;
	line-height: 29px;
}

.menuDerechaSelect{
	text-align: right;
	padding-right: 21px;
	line-height: 29px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c5923b;
	vertical-align: bottom;
	letter-spacing: 0.2em; 
	background-image: url(../image/menuSubrayadoOn.png);
	background-repeat: no-repeat;
}

/*Menu con fondo de imagen*/
.navenlace{
/*margin:3 0 3 0px;
padding: 2px;
border: 1px solid #999999;
font-weight: bold;*/
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em;
	padding-right: 21px;
	line-height: 29px;
}
.navenlace A{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em;
	text-decoration: none;
	display: block;
	background-image: url(../image/menuSubrayado.png);
	background-repeat: no-repeat;
}

.navenlace A:hover{
	/*background-color: #666666;*/
	color: #c5923b;
	background-image: url(../image/menuSubrayadoOn.png);
	background-repeat: no-repeat;
}


.banderasLink{
	padding-right: 9px;
}


/*SeccionQuienes*/
.tablaContenidoQuienes{
	width: 900px;
	height: 600px;
	/*background-image: url(../image/quienBase.jpg);*/
	background-image: url(../image/fondoQuienes.jpg);
	background-repeat: no-repeat;
}

.contenidoTexto{
	width: 588px;
}

.contenidoTextoTitular{
	width: 160px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: top;
	letter-spacing: 0.1em; 
}

.tablaTitulo{
	margin-top: 43px;
}

.titular{
   padding-right: 21px;
	text-align: right;
}

.contenidoTextoInterno{
	width: 428px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: justify;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.TextoRersaltado{
    color: #c5923b;
	}	

/*SeccionPudu*/
.tablaContenidoPudu{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoPudu.jpg);
	/*background-image: url(../image/PuduBase.jpg);*/
	background-repeat: no-repeat;
}

/*SeccionContacto*/
.tablaContenidoContacto{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoContacto.jpg);
	/*background-image: url(../image/contactoBase.jpg);*/
	background-repeat: no-repeat;
}

.form{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	text-align: justify;
	color: #12110f;
	width: 268px;
	border: 0px solid #c8beb1;
	background-color: #c8beb1;
	padding-left: 5px;
	padding-top: 4px;
	HEIGHT: 15px;
}

.textarea
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	text-align: justify;
	color: #12110f;
	width: 268px;
	border: 0px solid #8e7d78;
	background-color: #c8beb1;
	HEIGHT: 100px;
	border: 0px solid #c8beb1;
	padding-left: 5px;
	padding-top: 4px;
}

.contenidoTextoInternoContacto{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: justify;
	letter-spacing: 0.1em;
	line-height: 16px;
	height: 20px;
}

A.enviarLink:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c5923b;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

/*SeccionProductos*/
.tablaContenidoProductos{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoProductos.jpg);
	/*background-image: url(../image/productosBase.jpg);*/
	background-repeat: no-repeat;
}

.SeccionesContenidoProducto{
	width: 675px;
	text-align: center;
	vertical-align: text-top;
}

.Sector{
		width: 225px;
		height: 400px;
		text-align: center;
		padding-top: 110px;
		vertical-align: top;
}

.SectorTabla{
	width: 85%;
	text-align: right;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	letter-spacing: 0.1em;
	line-height: 35px;
}

.SectorTabla td{
	vertical-align: top;
}

.SectorTablaCod{
	font-size: 9px;	
	color: #c8beb1;
}

 A.sectorLink:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

.Sector1{
		width: 225px;
		height: 400px;
		background-image: url(../image/lineaSeparacionProd.png);
		background-position: left;
		background-repeat: repeat-y;
		text-align: center;
		padding-top: 120px;
		vertical-align: top;
}

.SectorTabla1{
	width: 85%;
	text-align: right;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.SectorTabla1 td{
	vertical-align: top;
}


.Sector2{
		width: 225px;
		height: 586px;
		background-color: White;
		text-align: center;
		padding-top: 15px;
		vertical-align: top;
}

.Sector2Tabla{
	width: 85%;
	text-align: left;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #191715;
	text-align: left;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.Sector2TablaDerecha{
	text-align: right;
}


A.Sector2Link:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
	text-align: right;
}

A.Sector2Link:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

A.Sector2Link:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

A.Sector2Link:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #12110f;
	TEXT-DECORATION: none;
}

.Sector2Galeria{
	border: 1px solid #595654;
}

.Sector2FotoProducto{
	height: 300px;
	vertical-align: bottom;
}

.Sector2DescripcionProd{
	padding-top: 20px;
}

/*Scroll*/
/*.estilotextarea {
width:400px;
height:100px;
border: 2px solid #990000;
} */

.estilotextarea
{
background-color: transparent;
border-color:transparent;
/*border: 1px solid #000000;*/
scrollbar-arrow-color: transparent;
scrollbar-base-color: transparent;
scrollbar-dark-shadow-color: transparent;
scrollbar-track-color: transparent;
scrollbar-face-color: #c5923b;
scrollbar-shadow-color: transparent;
scrollbar-highlight-color: transparent;
scrollbar-3dlight-color: transparent;
font-family: helvetica, verdana, arial, sans-serif;
font-size: 11px;	
color: #c8beb1;
overflow:auto;
 text-align: right;
} 

/*.scroll {
background: transparent;
overflow:auto;
scrollbar-arrow-color : #6b6b6b; 
scrollbar-face-color : #c4222d;
scrollbar-track-color : #6b6b6b;
scrollbar-highlight-color: #6b6b6b;
scrollbar-shadow-color: #6b6b6b;
scrollbar-3dlight-color: #6b6b6b;
scrollbar-drakshadow-color: #6b6b6b;
position: absolute;
height:130px; 
width: 250px;
}



/*
td.fondoContenido{
	background-image: url(../image/fondoContenidoLimpio.png);
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: top;
	padding-top: 15px;
}

td.menuSecundario{
	vertical-align: bottom;
}

A.menuSecundarioLink:link
{
   font-family: Arial;
	font-size: 10px;	
	color: #262626;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
}

A.menuSecundarioLink:visited
{
   font-family: Arial;
	font-size: 10px;	
	color: #262626;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
}

A.menuSecundarioLink:active
{
   font-family: Arial;
	font-size: 10px;	
	color: #262626;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
}

A.menuSecundarioLink:hover
{
   font-family: Arial;
	font-size: 10px;	
	color: #e85425;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
	
}

td.top{
	text-align: right;
	padding-right: 45px;
}

.Contenido{
	width: 90%;
}

td.menuPrincipal{
	text-align: center;
	vertical-align: top;
}

.homeContenido{
	text-align: left;
	vertical-align: top;
	padding-left: 43px;
	padding-top: 10px;
}

.formSelect{
	font-family: Arial;
	font-size: 9px;
	font-style: normal;
	text-align: justify;
	color: #41302b;
	width: 150px;
	border: 1px solid #41302b;
}

.fondoRegion{
	background-color: #41302b;
}



.fondoSearch{
	background-color: #e5481c;
}

/*NoticiasHome

.notititular{
	font-family: Arial;
	font-size: 12px;	
	color: #41302b;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
	font: italic;
}

.notiSubtitular{
	font-family: Arial;
	font-size: 12px;	
	color: Gray;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
	font: italic;
}

.notiSeparador{
	background-image: url(../image/notSeparados.png);
	background-repeat: repeat-x;
}

.notiContenido{
	font-family: Arial;
	font-size: 10px;	
	color: #010101;
	text-align: left;
}

.notiImagen{
	text-align: right;
	border: 1px solid #dddddc;
	margin-right: 10px;
}

.noti{
	width: 520px;
}

.notiTextResaltado{
	font-family: Arial;
	font-size: 10px;	
	color: #e5481c;
	text-align: left;	
	font-weight: bold;
}

A.infoLink:link
{
   font-family: Arial;
	font-size: 10px;	
	color: #41302b;
	TEXT-DECORATION: none;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
}

A.infoLink:visited
{
   font-family: Arial;
	font-size: 10px;	
	color: #41302b;
	TEXT-DECORATION: none;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
}

A.infoLink:active
{
   font-family: Arial;
	font-size: 10px;	
	color: #41302b;
	TEXT-DECORATION: none;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;
}

A.infoLink:hover
{
   font-family: Arial;
	font-size: 10px;	
	color: #e5481c;
	TEXT-DECORATION: none;
	text-align: left;
	vertical-align: bottom;
	font-weight: bold;	
}

/*fin NoticiasHome*/

/*
A:link
{
	font-family: Arial;
	font-size: 13px;
	color: White;
	TEXT-DECORATION: none;
}

A:visited
{
	font-family: Arial;
	font-size: 13px;
	color: White;
	TEXT-DECORATION: none;}

A:active
{
	font-family: Arial;
	font-size: 13px;
	color: White;
	TEXT-DECORATION: none;}

A:hover
{
	font-family: Arial;
	font-size: 13px;
	color: White;
	TEXT-DECORATION: none;
}

/*messages*/
/*div.error {
	background: #ffc;
	border: 1px solid #c0c0c0;
	color: #f00;
	font-size: 12px;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	padding: 3px;
	text-align: left;
	vertical-align: bottom;
	width: 90%;
}

div.message {
	background: #ffc;
	border: 0px;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	margin: 5px 0px 5px 0px;
	padding: 3px;
	text-align: left;
	vertical-align: bottom;
	width: 90%;
}

div.message img.icon {
	vertical-align: middle;
	border: 0px;
	height: 13px;
	margin: 1px;
	width: 14px;
}



.teto {
	font-family: Tahoma, Geneva, sans-serif;
	color: #FFF;
	font-size: 12px;
}

table.contenedor{
	width: 1010px;
	height: 770px;	
}

table.contenedorKuo{
	background-image: url(../../../image/FondoKuo.jpg);
		height: 770px;	
}

table.contenedorMacrom{
	background-image: url(../../../image/FondoMacrom.jpg);
		height: 770px;	
}

table.contenedorMacroGran1{
	background-image: url(../../../image/FondoMacroGranSinTitle.jpg);
		height: 770px;	
}

table.contenedorMacroFill1{
	background-image: url(../../../image/FondoMacroFillSinTitle.jpg);
		height: 770px;	
}

table.contenedorMacroComp1{
	background-image: url(../../../image/FondoMacroCompSinTitle.jpg);
		height: 770px;	
}

td.contenedorMarco{
	padding-left: 60px;
	padding-top: 30px;
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	text-align: justify;
	color: White;
}

td.textoVolanta{
	padding-left: 30px;
	padding-top: 30px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
	width: 250px;
}

td.BotMenuCategorias{
	padding-left: 18px;
	padding-top: 7px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

table.BotMenuCategorias td{
	font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 15px;
	height: 24px;
	padding-top: 5px;
	width: 100%;
}


A.BotMenuCategorias:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 4px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotCategoriasRojoOff.jpg);
   width: 200px;
}

A.BotMenuCategorias:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 4px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotCategoriasRojoOff.jpg);
   width: 200px;
}

A.BotMenuCategorias:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 4px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotCategoriasRojoOff.jpg);
   width: 200px;
}

A.BotMenuCategorias:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 4px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotCategoriasRojoOn.jpg);
   width: 200px;
}

A.BotMenuCategoriasSelected
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 4px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotCategoriasRojoOn.jpg);
   width: 200px;
}

table.contenedorArbol{
	padding-left: 10px;
	font-family: Arial;
	font-size: 10px;
	font-style: normal;
	/*text-align: justify;*/
/*	color: White;
	height: 20px;
	font-weight: bold;
}

td.contenedorArbolTitular{
	background-image: url(../../../image/ContenedoresRojos.jpg);
	background-repeat: repeat-y;
	padding-left: 5px;
	padding-right: 5px;
	}

td.contenedorArbolSubtitulo{
	padding-left: 5px;
		padding-right: 5px;
	border: 1px solid White;
	}
	
td.contenedorTexto{
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	text-align: justify;
	color: White;
	width: 345px;
}

td.contenedorTextoForm{
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	text-align: justify;
	color: White;
	width: 300px;
}

td.contenedorTextoScroll{
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	text-align: justify;
	color: White;
	padding: 10px 10px 10px 10px;
}

td.contenedorTextoTitulo{
	font-family: Arial;
	font-size: 30px;
	font-style: normal;
	color: White;
	vertical-align: top;
	height: 50px;
}

table.contenedor td.menu{
	width: 539px;
}

table.contenedor td.contenido{
	width: 470px;
}

A.mails:link
{
  font-family: Arial;
	font-size: 14px;
	color: White;
	TEXT-DECORATION: none;
}

A.mails:visited
{
  font-family: Arial;
	font-size: 14px;
	color: White;
	TEXT-DECORATION: none;
}

A.mails:active
{
  font-family: Arial;
	font-size: 14px;
	color: White;
	TEXT-DECORATION: none;
}

A.mails:hover
{
  font-family: Arial;
	font-size: 14px;
	color: White;
	TEXT-DECORATION: none;
}

/*BotoneraDownloads*/

/*table.Botonera td{
	font-family: Arial;
	font-size: 13px;
	color: White;
	height: 24px;
	padding-top: 5px;
	width: 100%;
	padding-left: 20px;
}

A.BotRojo:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownRojoBot.png);
   width: 177px;
}

A.BotRojo:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownRojoBot.png);
   width: 177px;
}

A.BotRojo:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownRojoBot.png);
   width: 177px;
}

A.BotRojo:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/DownRojoBot.png);
   width: 177px;
}


A.BotTurqueza:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownTurquezaBot.png);
   width: 177px;
}

A.BotTurqueza:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownTurquezaBot.png);
   width: 177px;
}

A.BotTurqueza:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownTurquezaBot.png);
   width: 177px;
}

A.BotTurqueza:hover
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownTurquezaBot.png);
   width: 177px;
}

A.BotVerde:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownVerdeBot.png);
   width: 177px;
}

A.BotVerde:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownVerdeBot.png);
   width: 177px;
}

A.BotVerde:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownVerdeBot.png);
   width: 177px;
}

A.BotVerde:hover
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/DownVerdeBot.png);
   width: 177px;
}

A.BotPDF:link
{
 font-family: Arial;
	font-size: 13px; 
	color: White;
	padding-left: 40px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/DowLogoPDF.png);
   width: 177px;
	background-repeat: no-repeat;
}

A.BotPDF:visited
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 40px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/DowLogoPDF.png);
   width: 177px;
	background-repeat: no-repeat;
}

A.BotPDF:active
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 40px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/DowLogoPDF.png);
   width: 177px;
	background-repeat: no-repeat;
}

A.BotPDF:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 40px;
	height: 24px;
	padding-top: 5px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/DowLogoPDF.png);
   width: 177px;
	background-repeat: no-repeat;
}

/*SubmenuProductos*/
/*
.MacroTitulares{
	padding-left: 70px;
	font-family: Arial;
	font-size: 35px;
	font-style: normal;
	color: White;
}

td.MenuMacroGran{
	padding-left: 0px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

A.MenuMacroGran:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroRojo.jpg);
   width: 198px;
}

A.MenuMacroGran:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroRojo.jpg);
   width: 198px;
}

A.MenuMacroGran:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroRojo.jpg);
   width: 198px;
}

A.MenuMacroGran:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotMacroRojoOn.jpg);
   width: 198px;
}

td.MenuMacroFill{
	padding-left: 0px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

A.MenuMacroFill:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroVerde.jpg);
   width: 198px;
}

A.MenuMacroFill:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroVerde.jpg);
   width: 198px;
}

A.MenuMacroFill:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroVerde.jpg);
   width: 198px;
}

A.MenuMacroFill:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotMacroVerdeOn.jpg);
   width: 198px;
}

td.MenuMacroComp{
	padding-left: 0px;
	padding-top: 10px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

A.MenuMacroComp:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroTurqueza.jpg);
   width: 198px;
}

A.MenuMacroComp:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroTurqueza.jpg);
   width: 198px;
}

A.MenuMacroComp:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroTurqueza.jpg);
   width: 198px;
}

A.MenuMacroComp:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotMacroTurquezaOn.jpg);
   width: 198px;
}

/*Submenu packaging*/
/*td.MenuProdPackaging{
	padding-left: 250px;
	padding-top: 1px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

A.MenuProdPackaging:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdPackaging:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdPackaging:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdPackaging:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotMacroGrisOn.png);
   width: 152px;
}

/*Submenu textile*/
/*td.MenuProdTextile{
	padding-left: 80px;
	padding-top: 76px;
	font-family: Arial;
	font-size: 12px;
	font-style: normal;
	text-align: justify;
	color: White;
}

A.MenuProdTextile:link
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdTextile:visited
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdTextile:active
{
  font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;
	background-image: url(../../../image/BotMacroGris.png);
   width: 152px;
}

A.MenuProdTextile:hover
{
 font-family: Arial;
	font-size: 13px;
	color: White;
	padding-left: 25px;
	height: 20px;
	padding-top: 2px;
	TEXT-DECORATION: none;	
	background-image: url(../../../image/BotMacroGrisOn.png);
   width: 152px;
}

/*scroll*/

/*.scrollrojo {
	background: transparent;
	scrollbar-arrow-color : #6b6b6b; 
	scrollbar-face-color : #474747;
	scrollbar-track-color : #6b6b6b;
	scrollbar-highlight-color: #6b6b6b;
	scrollbar-shadow-color: #6b6b6b;
	scrollbar-3dlight-color: #6b6b6b;
	scrollbar-drakshadow-color: #6b6b6b;
	height:100px; 
	width: 250px;
	overflow: auto;
    position: absolute;
}


.scrollContenido {
background: transparent;
		scrollbar-arrow-color : #6b6b6b; 
		scrollbar-face-color : #474747;
		scrollbar-track-color : #6b6b6b;
		scrollbar-highlight-color: #6b6b6b;
		scrollbar-shadow-color: #6b6b6b;
		scrollbar-3dlight-color: #6b6b6b;
		scrollbar-drakshadow-color: #6b6b6b;

		height:470px; 
		width: 370px;
		overflow: auto;
	    position: absolute;
}

.scrollContenidoProductApplications {
		background: transparent;
		scrollbar-arrow-color : #6b6b6b; 
		scrollbar-face-color : #474747;
		scrollbar-track-color : #6b6b6b;
		scrollbar-highlight-color: #6b6b6b;
		scrollbar-shadow-color: #6b6b6b;
		scrollbar-3dlight-color: #6b6b6b;
		scrollbar-drakshadow-color: #6b6b6b;

		height:540px; 
		width: 382px;
		overflow: auto;
	    position: absolute;
}

/*idioma*/
/*.idioma {
   /*font-family: Arial;
 font-size: 12px; 
 color: #262626;
 font-variant: small-caps;*/
 /*height: 24px;
 text-align: right;
 background-image: url(../../../image/idiomaFondo.jpg);
 background-position: right;
 background-repeat: no-repeat;
}

A.idiomaLink:link
{
   padding-right: 13px;
 padding-top: 4px;
   font-family: Arial;
 font-size: 12px; 
 color: #262626;
 font-variant: small-caps;
 text-align: right;
 TEXT-DECORATION: none;
}

A.idiomaLink:visited
{
   padding-right: 13px;
 padding-top: 4px;
     font-family: Arial;
 font-size: 12px; 
 color: #262626;
 font-variant: small-caps;
 text-align: right;
 TEXT-DECORATION: none;
}


A.idiomaLink:active
{
   padding-right: 13px;
 padding-top: 4px;
     font-family: Arial;
 font-size: 12px; 
 color: #262626;
 font-variant: small-caps;
 text-align: right;
 TEXT-DECORATION: none;
}


A.idiomaLink:hover
{
   padding-right: 13px;
 padding-top: 4px;
   font-family: Arial;
 font-size: 12px; 
 color: #262626;
 font-variant: small-caps;
 text-align: right;
 TEXT-DECORATION: none;
 
}


.idiomaHome {
   /*font-family: Arial;
	font-size: 12px;	
	color: #262626;
	font-variant: small-caps;*/
/*	height: 27px;
	text-align: right;
	background-image: url(../../../image/home02.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

A.idiomaLinkHome:link
{
   padding-right: 60px;
	padding-top: 20px;
   font-family: Arial;
	font-size: 12px;	
	color: #262626;
	font-variant: small-caps;
	text-align: right;
	TEXT-DECORATION: none;
}

A.idiomaLinkHome:visited
{
  padding-right: 60px;
	padding-top: 20px;
     font-family: Arial;
	font-size: 12px;	
	color: #262626;
	font-variant: small-caps;
	text-align: right;
	TEXT-DECORATION: none;
}

A.idiomaLinkHome:active
{
  padding-right: 60px;
	padding-top: 20px;
     font-family: Arial;
	font-size: 12px;	
	color: #262626;
	font-variant: small-caps;
	text-align: right;
	TEXT-DECORATION: none;
}

A.idiomaLinkHome:hover
{
  padding-right: 60px;
	padding-top: 20px;
   font-family: Arial;
	font-size: 12px;	
	color: #262626;
	font-variant: small-caps;
	text-align: right;
	TEXT-DECORATION: none;
	
}

.BotForm {
	font-size:10px;
   font-family:Verdana,Helvetica;
   font-weight:bold;
   color: White;
   background: #2F2F2F;
   border:0px;
   width:80px;
   height:19px;
	text-align: center;
	vertical-align: middle;
	margin: 2px 2px 2px 2px;
}

/*boton kuo*/
/*td.contenedorBotTransp
{
	text-align: right;
	padding-right: 5px;
}

td.contenedorBotTransp1
{
	text-align: right;
	padding-right: 5px;
	padding-top: 40px;
}

td.contenedorBotTransp2
{
	text-align: right;
	padding-right: 5px;
	padding-top: 30px;
}

table.contenedorProductos{
 background-image: url(../../../image/FondoProductosEs.jpg);
  height: 770px; 
}
 
table.contenedorProducts{
 background-image: url(../../../image/FondoProductosEn.jpg);
  height: 770px; 
}

/*
A.menuLink:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em; 
}

A.menuLink:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em; 
}

A.menuLink:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em; 
}

A.menuLink:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c5923b;
	TEXT-DECORATION: none;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em; 
}
