@CHARSET "ISO-8859-1";

body {
	background-color: #12110f;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	position:relative;
 
}

.left {
	float: left;
}

.right {
	float: right;
}

.contenido{
	text-align: center;
}

.SeccionesMenu{
	width: 225px;
	vertical-align: bottom;
	padding-bottom: 49px;
}

.SeccionesContenido{
	width: 675px;
	text-align: center;
	vertical-align: text-top;
	padding-top: 123px;
	
}

.menu{
	vertical-align: bottom;
}

.menuDerecha{
	text-align: right;
	padding-right: 21px;
	line-height: 29px;
}

.menuDerechaSelect{
	text-align: right;
	padding-right: 21px;
	line-height: 29px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c5923b;
	vertical-align: bottom;
	letter-spacing: 0.2em; 
	background-image: url(../image/menuSubrayadoOn.png);
	background-repeat: no-repeat;
}

/*Menu con fondo de imagen*/
.navenlace{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em;
	padding-right: 21px;
	line-height: 29px;
}
.navenlace A{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: bottom;
	letter-spacing: 0.1em;
	text-decoration: none;
	display: block;
	background-image: url(../image/menuSubrayado.png);
	background-repeat: no-repeat;
}

.navenlace A:hover{
	color: #c5923b;
	background-image: url(../image/menuSubrayadoOn.png);
	background-repeat: no-repeat;
}


.banderasLink{
	padding-right: 9px;
}


/*SeccionQuienes*/
.tablaContenidoQuienes{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoQuienes.jpg);
	background-repeat: no-repeat;
}

.contenidoTexto{
	width: 588px;
}

.contenidoTextoTitular{
	width: 160px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: right;
	vertical-align: top;
	letter-spacing: 0.1em; 
}

.tablaTitulo{
	margin-top: 43px;
}

.titular{
   padding-right: 21px;
	text-align: right;
}

.contenidoTextoInterno{
	width: 428px;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: justify;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.TextoRersaltado{
    color: #c5923b;
	}	

/*SeccionPudu*/
.tablaContenidoPudu{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoPudu.jpg);
	background-repeat: no-repeat;
}

/*SeccionContacto*/
.tablaContenidoContacto{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoContacto.jpg);
	background-repeat: no-repeat;
}

form {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	text-align: justify;
	color: #12110f;
	padding-left: 5px;
	padding-top: 4px;
}

textarea, input {
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 9px;
	font-style: normal;
	text-align: justify;
	color: #12110f;
	border: 0px solid #8e7d78;
	background-color: #ffffff;
	border: 1px solid #c8beb1;
	padding: 2px;
	padding-left: 4px;
	padding-bottom: 1px;
	margin: 2px;
}

.input-link {
	background-color: #ffffff;
	border: 1px solid #c8beb1;
	padding: 2px;
	padding-left: 4px;
	padding-bottom: 1px;
}

.input-link a,
.input-link a:visited,
.input-link a:link,
.input-link a:active,
.input-link a:hover {
	text-decoration: none;
	color: #C8BEB1;
}

.contenidoTextoInternoContacto{
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	text-align: justify;
	letter-spacing: 0.1em;
	line-height: 16px;
	height: 20px;
}

A.enviarLink:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.enviarLink:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 12px;	
	color: #c5923b;
	TEXT-DECORATION: none;
	padding-left: 222px;
}

A.agregarLink:link,
A.agregarLink:visited,
A.agregarLink:active
{
	font-size: 11px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

A.agregarLink:hover {
	color: #ffffff;
}

/*SeccionProductos*/
.tablaContenidoProductos{
	width: 900px;
	height: 600px;
	background-image: url(../image/fondoProductos.jpg);
	background-repeat: no-repeat;
}

.SeccionesContenidoProducto{
	width: 675px;
	text-align: center;
	vertical-align: text-top;
}

.Sector{
		width: 225px;
		height: 400px;
		text-align: center;
		padding-top: 110px;
		vertical-align: top;
}

.SectorTabla{
	width: 85%;
	text-align: right;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	letter-spacing: 0.1em;
	line-height: 35px;
}

.SectorTabla td{
	vertical-align: top;
}

.SectorTablaCod{
	font-size: 9px;	
	color: #c8beb1;
}

 A.sectorLink:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	TEXT-DECORATION: none;
}

A.sectorLink:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

a.sectorLink-selected:link,
a.sectorLink-selected:active,
a.sectorLink-selected:hover,
a.sectorLink-selected:visited
{	
	color: #c5923b;
}

.resaltado {
	margin-left: 160px;
	font-weight: bold;
	color: #c5923b;
}

.sectorLink img {
	border: 0;
}

.Sector1{
		width: 225px;
		height: 400px;
		background-image: url(../image/lineaSeparacionProd.png);
		background-position: left;
		background-repeat: repeat-y;
		text-align: center;
		padding-top: 120px;
		vertical-align: top;
}

.SectorTabla1{
	width: 85%;
	text-align: right;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.SectorTabla1 td{
	vertical-align: top;
}


.Sector2{
		width: 225px;
		height: 586px;
		background-color: White;
		text-align: center;
		padding-top: 15px;
		vertical-align: top;
}

.Sector2Tabla{
	width: 85%;
	text-align: left;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #191715;
	text-align: left;
	letter-spacing: 0.1em;
	line-height: 16px;
}

.Sector2TablaDerecha{
	text-align: right;
}


A.Sector2Link:link
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
	text-align: right;
}

A.Sector2Link:visited
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

A.Sector2Link:active
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #c5923b;
	TEXT-DECORATION: none;
}

A.Sector2Link:hover
{
   font-family: helvetica, verdana, arial, sans-serif;
	font-size: 14px;	
	color: #12110f;
	TEXT-DECORATION: none;
}

.Sector2Galeria{
	border: 1px solid #595654;
}

.Sector2FotoProducto{
	height: 300px;
	vertical-align: bottom;
}

.Sector2DescripcionProd{
	padding-top: 20px;
}



.estilotextarea {
	background-color: transparent;
	border-color:transparent;
	scrollbar-arrow-color: transparent;
	scrollbar-base-color: transparent;
	scrollbar-dark-shadow-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-face-color: #c5923b;
	scrollbar-shadow-color: transparent;
	scrollbar-highlight-color: transparent;
	scrollbar-3dlight-color: transparent;
	font-family: helvetica, verdana, arial, sans-serif;
	font-size: 11px;	
	color: #c8beb1;
	overflow:auto;
	text-align: right;
} 


form td.contenidoTextoInterno {
	font-size: 11px;
    letter-spacing: 0;
    line-height: 13px;
    width: 95px;
    text-transform: lowercase;
}

.titleRow td {
	background-color: #444444;
    color: white;
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 4px;
    text-transform: lowercase;
}

.divider td {
	border-bottom: 2px solid #222222;
}